[Desktop Entry]
Encoding=UTF-8
Name=Link to Fig. 15 The UML sequence diagram for the robot control agent interactions with the other agents  
Type=Link
URL=https://www.researchgate.net/profile/Ali_Vatankhah_Barenji2/publication/263247105/figure/fig14/AS:296055963963394@1447596650104/Fig-15-The-UML-sequence-diagram-for-the-robot-control-agent-interactions-with-the-other.png
Icon=image-png
