[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.edrawsoft.com/images/shapes/BasicFlow_Shapes.png
Type=Link
URL=https://www.edrawsoft.com/images/shapes/BasicFlow_Shapes.png
Icon=image-png
